@use "../../mainstyles/variables.scss" as *;


footer{
    width: 100%;
    height: max-content;
    min-height: 11rem;
    background-color: $header-color;
    display: flex;
    align-items: center;
    
}

.footer{

    &__inner{
        padding-left: 1rem;
        width: 60%;
        flex-wrap: wrap;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
}