@use "../../mainstyles/variables.scss" as *;

.header{
    width: 100%;
    height: $header-height;
    background-color: $header-color;
    display: flex;
    justify-content: center;

    &__inner{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &__logo{
            color: $logo-color;
            height: 100%;
            width: max-content;
            display: flex;
            align-items: center;
            font-family: 'Montserrat';
            font-style: italic;
            font-size: 20px;
        }
        &__navItems{
            height: 100%;
            display:flex;
            align-items: center;
            
        }
        &__menu{
            display: none;
            height: max-content;
            width: max-content;
            width: 28px;
            height: 35px;
            position: relative;
            
            align-items: center;
            justify-content: space-between;
            &__icon{
                width: 100%;
                height: 2px;
                background-color: white;
               
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: white;
                    top: 8px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: white;
                    bottom: 8px;
                }
            }
        }

        
    }
}
.secondHeader{
    width: 100%;
    height: $header-height;

    display: flex;
    justify-content: center;
    &__inner{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
.menu{
    width: 100%;
    height: max-content;
    background-color: $header-color;
    display: none;
    

}
.active{
    width: 100%;
    height: max-content;
    background-color: $header-color;
    display: block!important;
}

@media screen and (max-width:720px) {
    .header__inner{
        &__logo{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &__menu{
            position: absolute;
            right: 0;
            display: flex;
        }
        &__navItems{
            display: none;
            
        }
    }
}